
header {
    background-color: seagreen; /* Green background color */
    color: white; /* Text color */
    padding: 20px; /* Space inside the header */
    width: 100%; /* Make sure the background spans the full width */
    text-align: center; /* Center align the header content */
}

nav {
    display: flex; /* Use flexbox for nav items */
    justify-content: flex-start; /* Align the nav items to the left */
    width: 100%; /* Ensure the nav takes up the full width */
}

nav ul {
    list-style-type: none; /* Removes bullet points from the unordered list */
    padding: 0;      /*  Removes default padding applied to <ul> */
}


nav ul li {
    display: inline;      /*does not start a new line*/
    margin: 0 15px;       /*set the margin*/
}


nav ul li a {
    color: white;     /*set color*/
    text-decoration: none;  /* remove text decorations*/
    font-size: 18px;    /*set font size*/
}

nav ul li a:hover {
    text-decoration: underline;   /* add a underline to text */
}



h1,.content,footer{
    text-align: center;  /* Centers the text inside the div */
   
}

html{
    background-color: rgb(193, 198, 201);   /* Set background color */
}
