
h1 {
    text-align: center; /* Centers text horizontally */
    font-size: 2rem; /* Adjust title size */
    font-weight: bold; /* Optional, makes title bold */
  }
   header {
    background-color: seagreen; /* background color */
    color: white; /* Text color */
    padding: 20px; /* Space inside the header */
    width: 100%; /* Make sure the background spans the full width */
    text-align: center; /* Center align the header content */
}
   nav {
   display: flex; /* Use flexbox for nav items */
   justify-content: flex-start; /* Align the nav items to the left */
   width: 100%; /* Ensure the nav takes up the full width */
}
   
  nav ul {
  list-style-type: none; /* Removes bullet points from the unordered list */
  padding: 0;      /*  Removes default padding applied to <ul> */
}
  
  nav ul li {
  display: inline;      /*does not start a new line*/
  margin: 0 15px;       /*set the margin*/
}

nav ul li a {
  color: white;   /*set color*/
  text-decoration: none;  /* remove text decorations*/
  font-size: 18px;    /*set font size*/
}

nav ul li a:hover {
  text-decoration: underline;   /* add a underline to text */
}

h2 {
  text-align: center;  /* align text in the center */
}



 html{
  background-color: mintcream;   /* Set background color */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  background-attachment: fixed;   /* The background stays fixed when the page scrolls */
  } 

 img {
  float: left;  /* Float the image to the left */
  width: 400px; /* Set the width */
  height:auto;   /* Maintain the image's aspect ratio */
  padding-top: 75px;
  padding-left: 75px;
 }

 .content {
  text-align: center; /* Center the inline elements inside this container */
  margin: 50px; /* Adds space around the whole section */
}
.content div {
  font-size: 20px;
}


footer{
  text-align: center; /* Center the inline elements inside this container */
  font-size: 18px;
}