
h1 {
    text-align: center; /* Centers text horizontally */
    font-size: 2rem; /* Adjust title size */
    font-weight: bold; /* Optional, makes title bold */
  }
  header, nav ul, #content-wrapper {
    width: 90%;       /* Set the width */
    height:30px;      /* Set the height*/
    max-width: 1200px;
    margin: 0;        /* Remove default margin */
    
  }

  nav ul {
    list-style: none; /* Removes default list bullets */
    padding: 0; /* Removes default padding */
    margin: 0; /* Optional, to remove any default margin */
    display: flex; /* Makes the menu items display in a row */
 }
 nav li {
    margin-right: 1rem; /* Adds space between each menu item */
 }

  header {
    position: relative;   /* This element is positioned relative to its normal position */
  }
  

  header h1, nav ul {
    padding-left: 50px;  /* Indent each list item in the navigation */
  }

  h2{
    text-align: center    /* Center the header text */
  }

  nav {
    background-color: lightgrey;    /* Set background color */
  }

  nav ul li {
    display: inline-block;  /* Makes each box behave like an inline-block */
  }

  nav ul li a {
    display: inline-block;      /* Makes each box behave like an inline-block */
    padding: 1rem;            /* create space between content*/
    color: white;              /* Set color*/ 
    font-weight: bold;          /* Regular weight */
  }

 html{
  background-color: mintcream;   /* Set background color */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  background-attachment: fixed;   /* The background stays fixed when the page scrolls */
  } 

 img {
  float: left;  /* Float the image to the left */
  width: 400px; /* Set the width */
  height:auto;   /* Maintain the image's aspect ratio */
 }

 .content {
  text-align: center; /* Center the inline elements inside this container */
  margin: 50px; /* Adds space around the whole section */
}

footer{
  text-align: center; /* Center the inline elements inside this container */
}